/* 
11. Background
*/

footer {
  background-image: url("/assets/bg-wave-upside-down-3.svg");
  background-repeat: no-repeat;
  background-position-y: top 0;
}

.profile-img-container {
  background-image: url("/assets/profile-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}