/* Table of contents::after

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Colors
5.  Grid
6.  Flex
7.  Layout
8.  Position
9.  Padding
10. Margin
11. Background
12. @media

*/

/* 
1.  Custom Variables
*/

:root {
  /* Colors */
  --blue-major: #1D4289;
  --white-major: #FFF;
  --black-major: #000;
  --hover: #adbfe0;

  /* Font Family */
  --ff-lora: 'Lora', serif;
  --ff-merriweather: 'Merriweather', serif;

  /* Font weight */
  --w4: 400;
  --w5: 500;
  --w6: 600;
  --w7: 700;

  /* Font Sizes */
  --s16: 1rem;
  --s20: 1.25rem;
  --s21: 1.3125rem;
  --s24: 1.5rem;
  --s30: 1.875rem;
  --s36: 2.25rem;

  /* Line Height */
  --lh-mid: 1.5;

  /* Border Radius */
  --r10: 10px;
  --r20: 20px;
}


/* 
2.  Global Styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: max-content min-content min-content;
  background-color: var(--white-major);
  color: var(--black-major);
  font-family: var(--ff-merriweather);
  font-weight: var(--w4);
  font-size: var(--s16);
  line-height: var(--lh-mid);
  height: 100vh;
  margin: 0;
}


/* 
3.  Typography
*/

nav {
  text-transform: uppercase;
}

nav {
  line-height: 1;
}

nav,
.logo-wrap {
  font-family: var(--ff-lora);
}

.logo-wrap h1 {
  font-size: var(--s20);
}

nav {
  font-size: var(--s21);
}

nav,
.logo-wrap h1 {
  font-weight: var(--w5);
}

.logo-wrap p {
  font-weight: var(--w7);
}

.logo-wrap p {
  font-style: italic
}

.navigation-wrap {
  text-align: end;
}



/* 
4.  Colors
*/

.navigation-wrap,
header {
  background-color: var(--blue-major);
}

.overlay {
  background-color: var(--black-major);
  opacity: 60%;
}

header,
nav a {
  color: var(--white-major);
}

nav a:hover {
  color: var(--hover);
  transition: 500ms;
}




/* 
5.  Grid
*/


/* 
6.  Flex
*/

.mobile-nav,
.navigation-wrap,
.flex {
  display: flex;
}

.mobile-nav,
.flex-col {
  flex-direction: column;
}

.menu-container,
.logo-wrap section {
  align-items: flex-end;
}

.navigation-wrap {
  justify-content: space-between;
}

.menu-container {
  flex: 1;
}

.mobile-nav {
  gap: 30px;
}


/* 
7.  Layout
*/
.nav-wrap,
.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 100%;
}

.navigation-wrap {
  width: 250px;
  height: 100vh;
  border-radius: 0 0 0 250px;
}


/* 
8.  Position
*/

header,
body {
  position: relative;
}

.navigation-wrap,
.overlay {
  position: absolute;
}

.overlay {
  top: 0;
  left: 0;
}

.navigation-wrap {
  right: 0px;
}

.overlay {
  z-index: 9;
}

.navigation-wrap {
  z-index: 10;
}

/* 
9.  Padding
*/

.navigation-wrap,
.close-btn-wrap,
.menu-container,
.menu-wrap {
  padding: 10px;
}

.mobile-nav {
  padding: 10px 10px 10px 0;
}

.logo-wrap {
  padding: 20px 0 20px 20px;
}

.mobile-nav a {
  padding: 5px 0;
}


/* 
10. Margin
*/


/* 
11. Background
*/


/* 
12. @media
*/

@media (min-width: 1200px) {
  
  /* 
  3.  Typography
  */

  .logo-wrap h1,
  nav {
    font-size: var(--s30);
  }

  .logo-wrap p {
    font-size: var(--s24);
  }
  
  

  /* 
  4.  Colors
  */


  /* 
  5.  Grid
  */


  /* 
  6.  Flex
  */
  .nav-wrap,
  nav ul {
    display: flex;
  }

  header {
    flex-wrap: wrap;
  }

  .trigger,
  .logo-wrap {
    flex: 100%;
  }

  .logo-wrap{
    align-items: flex-start;
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul,
  header {
    gap: 30px;
  }



  /* 
  7.  Layout
  */

  .close-btn-wrap,
  .hide-on-desktop,
  .menu-container {
    display: none;
  }


  nav {
    display: block;
  }

  .nav-wrap {
    width: 100%;
  }






  /* 
  8.  Position
  */


  /* 
  9.  Padding
  */

  .logo-wrap {
    padding: 0;
  }

  header {
    padding: 30px
  }


  /* 
  10. Margin
  */


  /* 
  11. Background
  */

}