/* Table of contents::after

1.  Custom Variables
2.  Global Styles
3.  Typography
4.  Colors
5.  Grid
6.  Flex
7.  Layout
8.  Position
9.  Padding
10. Margin
11. Background
12. @media

*/

/* 
1.  Custom Variables
*/

:root {
  /* Colors */
  --blue-major: #1D4289;
  --white-major: #FFF;
  --black-major: #000;
  --hover: #adbfe0;
  --time-major: #777676;

  /* Font Family */
  --ff-lora: 'Lora', serif;
  --ff-merriweather: 'Merriweather', serif;

  /* Font weight */
  --w4: 400;
  --w5: 500;
  --w6: 600;
  --w7: 700;

  /* Font Sizes */
  --s16: 1rem;
  --s18: 1.125rem;
  --s20: 1.25rem;
  --s21: 1.3125rem;
  --s24: 1.5rem;
  --s30: 1.875rem;
  --s36: 2.25rem;

  /* Line Height */
  --lh-1: 1;
  --lh-mid: 1.5;
  --lh-27: 27px;

  /* Border Radius */
  --r10: 10px;
  --r20: 20px;
}


/* 
2.  Global Styles
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: var(--white-major);
}

img {
  max-width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr min-content;
  background-color: var(--white-major);
  color: var(--black-major);
  font-family: var(--ff-merriweather);
  font-weight: var(--w4);
  font-size: var(--s16);
  line-height: var(--lh-mid);
  height: 100vh;
  margin: 0;
}

/* Stops the scrolling effect of the background */
body.modal-open {
  overflow: hidden;
}

/* The following code is a loader from https://loading.io/css/ that are released under the CC0 License, "creative commons" */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 8px;
  background: var(--hover);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/* End of loader code referenced above */


/* 
3.  Typography
*/
.cta,
.heading,
nav {
  text-transform: uppercase;
}

nav {
  line-height: var(--lh-1);
}

.heading {
  line-height: var(--lh-27);
}

.card-time,
.card-heading,
.cta,
.blog-heading-white,
.blog-heading,
.heading,
nav,
.logo-wrap {
  font-family: var(--ff-lora);
}

.logo-heading {
  font-size: var(--s20);
}

.card-heading,
.cta,
.blog-heading-white,
.blog-heading,
.heading,
nav {
  font-size: var(--s21);
}

.heading,
nav,
.logo-heading {
  font-weight: var(--w5);
}

.cta {
  font-weight: var(--w6);
}

.card-heading,
.blog-heading-white,
.blog-heading,
.logo-p {
  font-weight: var(--w7);
}

.card-heading,
.blog-heading-white,
.blog-heading,
.logo-p {
  font-style: italic
}

.cta-view-more,
.cta,
.blog-heading-white,
.blog-heading,
.heading {
  text-align: center;
}

.navigation-wrap {
  text-align: end;
}

.heading {
  text-decoration: 3px underline var(--blue-major);
  text-underline-offset: 3px;
}


/* 
4.  Colors
*/

.about-part-4,
.about-part-2,
footer,
.navigation-wrap,
header {
  background-color: var(--blue-major);
}

.modal-bg,
.overlay {
  background-color: var(--black-major);
  opacity: 80%;
}

.cta {
  background-color: var(--white-major);
}

.cta:hover {
  background-color: #adbfe0;
  transition: 500ms;
}

.card-heading,
.modal-wrap,
.about-part-4 section,
.about-part-2 section,
.blog-heading-white,
footer,
header,
nav a {
  color: var(--white-major);
}

.cta-card,
.cta,
.blog-heading {
  color: var(--blue-major);
}

.card-time {
  color: var(--time-major);
}

.cta-card:hover,
.link-container a:hover,
nav a:hover {
  color: var(--hover);
  transition: 500ms;
}

.cta {
  box-shadow: 0px 4px 4px 0px var(--blue-major, #1D4289);
}

.card-time,
.cta-card,
.cta {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-container,
.about-main img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-overlay {
  background: linear-gradient(180deg, rgba(1, 1, 1, 0.00) 0%, rgba(1, 1, 1, 0.23) 17.5%, rgba(1, 1, 1, 0.74) 47%, #010101 100%);  ;
}


/* 
5.  Grid
*/

.main-post-spesific,
.about-part-4,
.about-part-3,
.about-part-2 {
  display: grid;
}

.about-part-4 > div,
.about-part-2 > div {
  grid-row: 1 / 2;
}

.about-part-4,
.about-part-3,
.about-part-2 {
  justify-items: center;
}

/* 
6.  Flex
*/

footer,
.mobile-nav,
.navigation-wrap,
.flex {
  display: flex;
}


footer,
.mobile-nav,
.flex-col {
  flex-direction: column;
}

.blog-parent {
  flex-wrap: wrap;
}

.cta-card,
.close-modal,
.modal-container,
.about-part-4 > div,
.about-part-3 > div,
.about-part-2 > div,
.about-main article,
.profile-img-container,
.about-part-1,
.about-main,
.copyright {
  align-items: center;
}

.card-overlay,
.modal-wrap,
.menu-container,
.logo {
  align-items: flex-end;
}

.blog-parent,
.close-modal,
.modal-container,
.profile-img-wrap,
.profile-img-container,
.copyright,
.link-container {
  justify-content: center;
}

footer {
  justify-content: flex-end;
}

.card-bottom-wrap,
.navigation-wrap {
  justify-content: space-between;
}

.menu-container {
  flex: 1;
}

.cta-view-more {
  flex: 100%;
}

.cta-card,
.copyright {
  gap: 6px;
}

.about-part-4 section,
.about-part-3 section,
.about-part-2 section,
.about-part-1 section,
.link-container,
footer {
  gap: 20px;
}

.blog-parent,
.mobile-nav {
  gap: 30px;
}


/* 
7.  Layout
*/
.nav-wrap,
.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

.copyright {
  height: 20px;
}

.close-modal {
  height: 50px;
  width: 50px;
}

.card-overlay {
  height: 150px;
}

.modal-bg,
.modal-container,
.overlay {
  height: 100%;
}

.card-overlay,
.modal-container,
.profile-img-wrap,
.profile-img-container,
.about-part-4,
.about-part-2,
.heading,
.copyright,
.modal-bg,
.overlay,
.link-container {
  width: 100%;
}

.heading-wrap {
  width: max-content
}

.about-part-4 > div,
.about-part-3 > div,
.about-part-2 > div {
  height: 300px;
}

.card-container {
  width: 300px;
}

.profile-img-container {
  height: 339px;
  max-width: 335px;
}

.card-excerpt-container {
  height: 350px;
}

.navigation-wrap {
  width: 250px;
  height: 100vh;
  border-radius: 0 0 0 250px;
}

.profile-img,
footer {
  height: 200px;
}

.profile-img {
  width: 200px;
}

.cta-view-more {
  border: 0;
}

.card-img-container img {
  border-radius: 10px 10px 0 0;
}

.card-container,
.card-bottom-wrap {
  border-radius: 0 0 10px 10px;
}

.about-img,
.cta {
  border-radius: var(--r20);
}

.profile-img {
  border-radius: 200px;
}


/* 
8.  Position
*/

.card-img-container,
header,
body {
  position: relative;
}

.card-overlay,
.modal-container,
.navigation-wrap,
.modal-bg,
.overlay {
  position: absolute;
}

.modal-bg,
.overlay,
.navigation-wrap {
  right: 0px;
}

.card-overlay {
  bottom: 0;
  left: 0;
}

.modal-bg,
.overlay {
  z-index: 9;
}

.modal-wrap,
.navigation-wrap {
  z-index: 10;
}

/* 
9.  Padding
*/

footer {
  padding: 0 20px 20px 20px;
}

.about-part-1 {
  padding: 0 20px 40px 20px;
}

.mobile-nav a {
  padding: 5px 0;
}

.link-container a {
  padding: 5px;
}

.navigation-wrap,
.close-btn-wrap,
.menu-container,
.menu-wrap {
  padding: 10px;
}

.mobile-nav {
  padding: 10px 10px 10px 0;
}

.card-bottom-wrap {
  padding: 10px 20px 20px 20px;
}

.card-excerpt-container,
.card-overlay {
  padding: 20px;
}

.logo-wrap {
  padding: 20px 0 20px 20px;
}

.about-part-4,
.about-part-3,
.about-part-2 {
  padding: 20px 20px 40px 20px;
}

.cta {
  padding: 23px 36px;
}

.blog-parent,
.main-blog,
.about-main {
  padding: 40px 0px;
}


/* 
10. Margin
*/

.about-part-4 h2,
.about-part-3 h2,
.about-part-2 h2,
.about-part-1 h2 {
  margin-bottom: 10px;
}

.about-part-4 > div,
.about-part-3 > div,
.about-part-2 > div {
  margin: 20px 0;
}

.profile-img-container {
  margin: 30px 0;
}

.about-main .cta {
  margin: 50px 0 0 0;
}

.profile-img {
  margin-bottom: 12px;
}

.cta-view-more {
  margin-top: 20px;
}


/* 
11. Background
*/

footer {
  background-image: url("/assets/bg-wave-upside-down-3.svg");
  background-repeat: no-repeat;
  background-position-y: top 0;
}

.profile-img-container {
  background-image: url("/assets/profile-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* 
12. @media
*/

@media (min-width: 1200px) {
  
  /* 
  3.  Typography
  */

  .logo-wrap h1,
  nav {
    font-size: var(--s30);
  }

  .about-main article p {
    font-size: var(--s18);
  }

  .logo-wrap p {
    font-size: var(--s24);
  }

  .blog-heading-white,
  .blog-heading,
  .heading {
    font-size: var(--s36);
  }

  .about-main h2 {
    text-align: start;
  }

  .heading {
    line-height: 40px;
    text-decoration: 6px underline var(--blue-major);
    text-underline-offset: 6px;
  }
  
  

  /* 
  4.  Colors
  */

  .header-side-1,
  .header-side-2 {
    background-color: var(--blue-major);
  }


  /* 
  5.  Grid
  */

  body {
    grid-template-columns: 1fr 1200px 1fr;
  }

  header {
    grid-column: 2 / 3;
  }

  .header-side-1 {
    grid-column: 1 / 2;
  }

  .header-side-2 {
    grid-column: 3 / -1;
  }

  .header-side-1,
  .header-side-2 {
    grid-row: 1 / 2;
  }

  footer {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
  }

  .copyright {
    grid-column: 2 / 3;
  }

  main {
    grid-column: 2 / 3;
  }

  .about-part-4,
  .about-part-3,
  .about-part-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
  }

  .about-part-4 > div,
  .about-part-2 > div {
    grid-column: 2 / 3;
  }

  .about-part-3 > div {
    grid-column: 1 / 2;
  }


  /* 
  6.  Flex
  */
  .cta-wrap-about,
  .nav-wrap,
  nav ul {
    display: flex;
  }

  .about-part-1 {
    flex-direction: row;
  }

  header {
    flex-wrap: wrap;
  }

  .trigger,
  .logo-wrap {
    flex: 100%;
  }

  .logo-wrap{
    align-items: flex-start;
  }

  footer {
    align-items: flex-end;
  }

  .copyright {
    justify-content: flex-start;
  }

  .link-container,
  nav ul {
    justify-content: flex-end;
  }

  .about-part-2 > div,
  .about-part-3 > div,
  .about-part-4 > div,
  .about-part-4 section,
  .about-part-3 section,
  .about-part-2 section {
    justify-content: center;
  }

  nav ul,
  header {
    gap: 30px;
  }

  .link-container {
    gap: 40px;
  }

  .cta-wrap-about {
    gap: 60px;
  }

  .blog-parent {
    gap: 100px;
  }


  /* 
  7.  Layout
  */

  .close-btn-wrap,
  .hide-on-desktop,
  .menu-container {
    display: none;
  }

  nav {
    display: block;
  }

  .modal-small-container,
  .about-part-2 > div,
  .about-part-3 > div,
  .about-part-4 > div,
  .nav-wrap {
    width: 100%;
  }

  .card-container {
    width: 450px;
  }

  .about-part-2 > div,
  .about-part-3 > div,
  .about-part-4 > div {
    height: 100%;
  }

  footer {
    height: 180px;
  }

  .card-excerpt-container {
    height: 250px;
  }


  /* 
  8.  Position
  */


  /* 
  9.  Padding
  */

  .logo-wrap {
    padding: 0;
  }
  
  footer {
    padding: 0 30px 30px 30px;
  }

  .about-part-1 {
    padding: 0 30px 60px 30px;
  }

  .about-part-1 section {
    padding: 0 60px
  }

  .about-part-4, 
  .about-part-3, 
  .about-part-2 {
    padding: 20px 30px 40px 30px;
}

  header {
    padding: 30px
  }

  .cta-about  {
    padding: 23px 64.6px;
  }

  .blog-parent {
    padding: 70px 0;
  }


  /* 
  10. Margin
  */

  .about-part-4 > div,
  .about-part-3 > div,
  .about-part-2 > div {
    margin: 0;
  }


  /* 
  11. Background
  */

}